<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>NovaBank</title>
    <link rel="stylesheet" href="/css/estilos.css" />
  </head>
  <body>
    <main class="hero">
      <div class="card">
        <span class="tag">NOVABANK</span>
        <h1>Tu banco, más simple y seguro.</h1>
        <p>
          Administra tus cuentas, deposita y retira desde una plataforma
          moderna.
        </p>
        <a class="btn" href="/login">Iniciar sesión</a
        ><a class="link" href="/registro">Crear cuenta</a>
      </div>
    </main>
  </body>
</html>
